<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>회원가입</title>
<script src="http://code.jquery.com/jquery-latest.min.js"></script>
<script>
    //핸드폰번호 자동하이픈 기능
    const autoHyphen = (target) => {
        target.value = target.value
            .replace(/[^0-9]/g, '')
            .replace(/^(\d{0,3})(\d{0,4})(\d{0,4})$/g, "$1-$2-$3").replace(/(\-{1,2})$/g, "");
    }
    //핸드폰번호 하이픈제거 함수
    const removeHyphen = (phone) => {
        return phone.replace(/-/g, '');
    }
    function boardCheck() {
        var stuEmail = $.trim($("#stuEmail").val());
        if (stuEmail === "") {
            alert("아이디를 입력하세요");
            $("#stuEmail").val("").focus();
            return false;
        }
        // 이메일 입력란에서 값을 가져옴
        var email = document.getElementById("stuEmail").value;

        // 이메일 형식 검사 정규식
        var emailFormat = /^[^\s@]+@[^\s@]+\.[^\s@]+$/;

        // 이메일 형식 및 '@' 문자의 존재 여부 확인
        if (emailFormat.test(email)) {
            alert("유효한 이메일 형식입니다.");
            return true; // 유효성 검사 통과
        } else {
            alert("유효하지 않은 이메일 형식입니다.");
            return false; // 유효성 검사 실패
        }

        if ($.trim($("#stuPwd").val()) == "") {
            alert("비밀번호를 입력하세요");
            $("#stuPwd").val("").focus();
            return false;
        }
        if ($.trim($("#stuPwd2").val()) == "") {
            alert("비밀번호 확인을 입력하세요");
            $("#stuPwd2").val("").focus();
            return false;
        }
        if($.trim($("#stuPwd").val()) != $.trim($("#stuPwd2").val())){
            alert("비번이 다릅니다!");
            $("#stuPwd").val("");
            $("#stuPwd2").val("");
            $("#stuPwd").focus();
            return false;
        }
        if ($.trim($("#stuName").val()) == "") {
            alert("이름을 입력하세요");
            $("#stuName").val("").focus();
            return false;
        }
        if ($.trim($("#stuNickname").val()) == "") {
            alert("닉네임을 입력하세요");
            $("#stuNickname").val("").focus();
            return false;
        }
        if ($.trim($("#stuPhone").val()) == "") {
            alert("핸드폰번호를 입력하세요");
            $("#stuPhone").val("").focus();
            return false;
        }

        //중복체크 관련
        var chkresult = $("#id-result td").text();
        if (chkresult == "") {
            alert("아이디 중복검사를 해주세요");
            return false;
        } else if (chkresult == "이미 존재하는 아이디입니다") {
            alert("중복된 아이디로 가입이 불가합니다");
            return false;
        }

        //핸드폰번호에서 하이픈을 제거하고 숫자만 포함하는 문자열로 변경- 수정필요
        const stuPhone = removeHyphen(document.getElementById("stuPhone").value);
        document.getElementById("stuPhone").value = stuPhone;
    }
    function idCheck() {
        var stuEmail =  $("#stuEmail").val();

        //아이디가 미입력시
        if (stuEmail === "") {
            alert("아이디를 입력하세요");
            $("#stuEmail").val("").focus();
            return false;
        } else { //아이디 입력시
            $.ajax({
                type : 'POST',
                url : "idCheck",
                data: {"stuEmail" : stuEmail},
                success : function(result) {
                    if (result==1) { //중복 ID
                        $("#id-result td").html("<font color=red>이미 존재하는 아이디입니다<font>");
                        $("#stuEmail").focus();
                    } else { //사용가능 ID
                        $("#id-result td").html("<font color=blue>사용가능한 아이디입니다</font>");
                        $("#stuPwd").focus();
                    }
                }
            }); //$.ajax() end
        }
    }


</script>

</head>
<body>
    <h2>회원가입</h2>
    <form method="post" action="/student/join" onsubmit="return boardCheck();">
        <table>
            <tr>
               <th rowspan="2"> <label for="stuEmail">아이디</label></th>
                <td class="colspan2">
                    <input type="text" name="stuEmail" id="stuEmail" placeholder="이메일을 입력하세요.">
                    <input type="button" id="id-check" value="중복검사" onclick="return idCheck();">
                </td>
            </tr>
            <tr id="id-result">
                <td colspan="2"></td>
            </tr>
            <tr>
                <th>비밀번호</th>
                <td colspan="2"><input type="password" name="stuPwd" id="stuPwd" /></td>
            </tr>
            <tr>
                <th>비밀번호 확인</th>
                <td colspan="2"><input type="password" name="stuPwd2" id="stuPwd2" /></td>
            </tr>
            <tr>
                <th>이름</th>
                <td colspan="2"><input type="text" name="stuName" id="stuName" maxlength="8" /></td>
            </tr>
            <tr>
                <th>닉네임</th>
                <td colspan="2"><input type="text" name="stuNickname" id="stuNickname" maxlength="8" /></td>
            </tr>
            <tr>
                <th>핸드폰번호</th>
                <td colspan="2">
                    <input type="text" name="stuPhone" id="stuPhone"  maxlength="13"
                           oninput="autoHyphen(this)" pattern="010-[0-9]{3,4}-[0-9]{4}"
                           autocomplete="off" />
                </td>
            </tr>
        </table>
        <div class="btns">
            <input type="submit" value="가입하기">
            <input type="button" value="뒤로가기" onclick="history.go(-1);">
        </div>
    </form>
</body>
</html>