
    <div class="wrap">
        <h1 class="logo">
            <a href="/main" title="메인으로 바로가기">
                <img src="/images/logo.png" alt="톡톡스피킹 로고">
            </a>
        </h1>
        <nav class="gnb-wrap">
            <ol class="gnb">
                <li class="depth1"><a href="/teacher/list">강사소개</a></li>
                <li class="depth1"><a href="/lecture/list">커리큘럼</a></li>
                <li class="depth1"><a href="/study">스터디룸</a></li>
                <li class="depth1"><a href="">후기</a></li>
                <li class="depth1"><a href="">공지사항/이벤트</a></li>
            </ol>
        </nav>
        <div class="util-menu">
            <a href="/user/login">로그인</a>
            <a href="/user/join">회원가입</a>
        </div>
    </div>
</header>